<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /parham-academy/

# اگر درخواست مربوط به فایل یا پوشه موجود نیست، آن را به index.php ریشه هدایت کن
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
